body {
    box-sizing: border-box;
    margin: 0;
    color: #FFFFFF;
}

.App {
    width: 480px;
    margin: 16px auto;
    padding: 16px;
    border-radius: 16px;
    background: linear-gradient(to bottom, #5a50f1, #8bccf4);
}

.App h2 {
    text-align: center;
    font-size: 28px;
}

form {
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.App form input {
    border: 2px solid #8eb6f4;
    font-size: 16px;
    padding: 6px 10px;
    border-radius: 8px;
}

.App form button {
    line-height: 12px;
    background-color: #8eb6f4;
    border: 2px solid #8eb6f4;
    padding: 10px 10px;
    font-weight: 600;
    cursor: pointer;
    margin-left: 8px;
    border-radius: 8px;
    color: #FFFFFF;
    transition: 0.6s;
}

.App form button:hover {
    background-color: #FFFFFF;
    color: #000000;
}

.App .resultContainer,
.App .errorContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
}

.App .resultContainer {
    display: flex;
    flex-wrap: wrap;
    width: 432px;
}

.App .resultContainer {
    font-size: 26px;
    font-weight: 600;
}

.App .resultContainer span {
    font-size: 18px;
    margin-bottom: 8px;
}

.App .resultContainer > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    background-color: #8eb6f4;
    border-radius: 8px;
    margin: 8px;
    line-height: 24px;
}

.App .resultContainer .city, 
.App .resultContainer .temp, 
.App .resultContainer .pressure, 
.App .resultContainer .wind {
    position: relative;
}

.App .resultContainer .city::after, 
.App .resultContainer .temp::after, 
.App .resultContainer .pressure::after, 
.App .resultContainer .wind::after {
    content: '';
    display: block;
    width: 60px;
    height: 60px;
    margin-top: 16px;
    filter: invert(99%) sepia(0%) saturate(0%) hue-rotate(24deg) brightness(125%) contrast(100%);
}

.App .resultContainer .city::after {
    background: url('./../img/icons/city-icon.svg');
    background-size: 60px 60px;
}
 
.App .resultContainer .temp::after {
    background: url('./../img/icons/thermometer-icon.svg');
    background-size: 60px 60px;
}

.App .resultContainer .pressure::after {
    background: url('./../img/icons/pressure-icon.svg');
    background-size: 60px 60px;
}

.App .resultContainer .wind::after {
    background: url('./../img/icons/wind-icon.svg');
    background-size: 60px 60px;
}

@media (max-width: 600px) {
    .App {
        width: 90vw;
    }
    .App .resultContainer > div {
        width: 80vw;
    }
}