body {
    box-sizing: border-box;
    margin: 0;
}

.App {
    width: 600px;
    margin: 16px auto;
    padding: 16px;
    border-radius: 16px;
    background: linear-gradient(90deg, #647ae6, #aab0ef);
}

.App h2 {
    text-align: center;
}

form {
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.App form input {
    border: 2px solid sandybrown;
    font-size: 16px;
    padding: 6px 10px;
    border-radius: 2px;
}

.App form button {
    line-height: 12px;
    background-color: sandybrown;
    border: 2px solid sandybrown;
    padding: 10px 10px;
    font-weight: 600;
    cursor: pointer;
    margin-left: 8px;
    border-radius: 4px;
}

.App form button:hover {
    background-color: white;
}

.App .resultContainer,
.App .errorContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
}

.App .resultContainer {
    display: flex;
    flex-wrap: wrap;
    width: 432px;
}

.App .resultContainer > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    outline: 1px solid #FFFFFF;
    border-radius: 8px;
    margin: 8px;
    line-height: 24px;
}

.App .resultContainer .city, 
.App .resultContainer .temp, 
.App .resultContainer .pressure, 
.App .resultContainer .wind {
    position: relative;
}

.App .resultContainer .city::after, 
.App .resultContainer .temp::after, 
.App .resultContainer .pressure::after, 
.App .resultContainer .wind::after {
    content: '';
    display: block;
    width: 60px;
    height: 60px;
    margin-top: 16px;
}

.App .resultContainer .city::after {
    background: url('./../img/icons/city-icon.svg');
    background-size: 60px 60px;
}
 
.App .resultContainer .temp::after {
    background: url('./../img/icons/thermometer-icon.svg');
    background-size: 60px 60px;
}

.App .resultContainer .pressure::after {
    background: url('./../img/icons/pressure-icon.svg');
    background-size: 60px 60px;
}

.App .resultContainer .wind::after {
    background: url('./../img/icons/wind-icon.svg');
    background-size: 60px 60px;
}

@media (max-width: 600px) {
    .App {
        width: 90vw;
    }
}